/* esto es un comentario pomme k pomme c */
body {
    margin-top: 60px;

}

h1 {
    text-align: center;
    background-color: rgb(165, 42, 134);
    color: rgb(244, 213, 213);
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 10px 10px 20px black;
    font-size: 50px;
    box-shadow: 10px 10px 20px black;
    background: linear-gradient(rgb(163, 16, 85), #b86c84);
    font-family: Arial;
    margin: 0;
}

h2 {
    padding-left: 10px;
    font-size: 200%;
    color: rgb(244, 213, 213);
}

p {
    color: rgb(244, 213, 213);
    font-weight: normal;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
}



img {
    max-width: 50%;
    margin-bottom: 0;
}

#header {
    position: fixed;
    top: 0px;
    width: 100%;
}

#cuerpo {
    position: relative;
    background-color: rgb(165, 42, 134);
    width: 70%;
    margin: 0 auto;
    z-index: -10;
}

#picture {

    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
}

h3 {
    font-size: 150%;
    color: rgb(244, 213, 213);
    padding: 10px;
}

h4 {
    color: rgb(244, 213, 213);
    font-weight: normal;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    ;
}

.lista {
    color: rgb(244, 213, 213);
    font-weight: normal;
    text-align: justify;
    padding-right: 10px;
    padding-left: 10px;
    ;
}

.prueba {
    text-decoration: overline underline;
    color: rgb(13, 13, 200);
}